.case-img {
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  img {
    padding: 2rem;
    height: 100%;
  }
}
.case-carousel-container:hover:hover {
  .case-img {
    transform: scale(1.05);
    z-index: 1;
  }
}
