@import 'tailwindcss';
@import '@js-preview/excel/lib/index.css';

@theme {
  /* 品牌色 */
  --color-brand: #d32d26;
  /* 一级文本 */
  --color-first-text: #eee;
  /* 二级文本 */
  --color-secondary-text: #ccc;
}
